body {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;

  
}

ul {
    
    padding: 20px;
  
}

.divpoke{    max-width: 900px;
    margin: 0 auto;
    


}
    
  
   

ul li{
    position: relative;
    width: 195px;
    height: 195px;
    box-shadow: 0px 0px 25px -5px rgba(183, 189, 193, 0.4);
    border-radius: 12px;
    text-align: center;
    margin: 0px 10px 10px 0px;
    display: inline-block;
    vertical-align: middle;
    

}

.botao{
    display: flex;
        justify-content: center;
        border-radius: 8px;
        padding: 8px;
}